---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Small Groups | Kaleo Church">
  <meta http-equiv="refresh" content="0;url=/get-connected/k-groups" />
  <section class="section"><div class="container"><p>Redirecting to <a href="/get-connected/k-groups">K-Groups</a>.</p></div></section>
</BaseLayout>
